<div class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div class="bg-dark">
            <h3 class="float-md-start mb-0">Dashboard</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              <a class="nav-link text-white" href="/users">User</a>
              <a class="nav-link text-white" href="/profiles">Profiles</a>
              <a class="nav-link text-white" href="/history">History</a>
              <a class="nav-link text-white" href="/admin">Admin</a>
            </nav>
          </div>
        </header>
    </div>
  </div>