<div class="container">
    <h2 class="title-form py-3">Register Player</h2>
    <form method="POST" action="/users">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="md-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="col-12 py-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>